# Price Estimator Dependencies
boto3
pytz
python-dotenv
pymupdf
pypdf
jq

# COLDRAG Dependencies
langchain
langchain-community
pydantic
datasets
tiktoken
faiss-cpu
transformers
sentence-transformers
langchain-ollama
langchain-huggingface
transformers[torch]
accelerate>=0.26.0
