# Price Estimator Dependencies
boto3
pytz
python-dotenv
pymupdf
pypdf
jq
fastapi
uvicorn[standard]

# COLDRAG Dependencies
langchain
langchain-community
pydantic
datasets
tiktoken
faiss-cpu
transformers
sentence-transformers
langchain-ollama
langchain-huggingface
transformers[torch]
accelerate
langchain-core
langchain-experimental
langchain-text-splitters
langsmith
litellm
qdrant-client
langchain-qdrant
uvicorn
